
hr {
  border: 1px solid #BBB;
}
.step {
  background-color: #DDD;
  border: 1px solid #BBB;
  margin: 20px;
  padding: 10px 20px;
}
.evidence {
  color: #080;
}

button {
    background-color: #DDD;
    border: 1px solid black;
    margin: 10px;
}

.selected {
    background-color: #BBF;

}